/*.btn {
    min-width: 530px;
    background-color: #009846;
}

.btn:hover {
    color: #fff;
    background: #33CC66;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    background-color: rgba(30, 152, 78, 0.5)
}
/*
.test {
    background-color: transparent;
    margin: auto;
    border-radius: 5px;
    border-color: #4D4D4D;
    padding: 30px;
    width: 750px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #CCFFFF;
}

td {
    padding: 5px;
}

table {
    margin: auto;
}

.test2 {
    background-color: transparent;
    margin: auto;
    border-radius: 5px;
    width: 950px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

td {
    padding: 5px;
}

table {
    margin: auto;
}
*/
.pl_container {
    width: 55%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.pl_button {
    transition: 1s;
}

.pl_button:hover {
    transform: scale(1.05);
    background: #ecf0f1;
    transition: 0.5s;
}

.pl_text {
    overflow: hidden;
    font-size: 1vw;
    white-space: nowrap;
    color: #2c3e50;
    text-align: center;
    margin: 1rem;
}
.pl_icon {
    width: 30px;
    height: 30px;
}