<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <link href="style.css" rel="stylesheet">
    <div id="items" >
        <v-app>
            <template>
              <nav>
              <v-app-bar
              app>
                <v-app-bar-nav-icon class="grey--text" @click="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title class="headline text-uppercase">
                  <span>степь</span>
                  <span class="font-weight-light">Корпоративный портал</span>
                </v-toolbar-title>
              </v-app-bar>
              <v-navigation-drawer 
              v-model="drawer" 
              class="indigo"
              app>
                <v-list-item-group>
                  <v-list-item v-for="(link, i) in links" :key=i>
                    <v-list-item-action>
                      <v-icon class="white--text">{{ link.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                      <v-list-item-title class="white--text">
                        {{ link.text }}
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-navigation-drawer>
              </nav>
              <v-content class='blue-grey lighten-5'>                
                  <v-container class="my-5">
                    <v-layout row class="mb-3">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn small depressed color="blue-grey lighten-5" @click="sortBy('LAST_NAME')" v-on="on"> 
                            <v-icon left small>person</v-icon>
                            <span class="caption text-lowercase">By person</span>
                          </v-btn>
                          </template>
                          <span>Сортировка по имени</span>
                      </v-tooltip>
                      
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn small depressed color="blue-grey lighten-5" @click="sortBy('EMAIL')" v-on="on">
                            <v-icon left small>folder</v-icon>
                            <span class="caption text-lowercase">By email</span>
                          </v-btn>
                        </template>
                        <span>Сортировка по электронной почте</span>
                      </v-tooltip>
                      
                    </v-layout>
                    <v-card flat class='pl-3' v-for="(item, i) in info" :key=i @click.stop="get_user_id(item.ID)">
                      <v-layout row wrap :class="`pa-3 item ${item.ACTIVE}`">
                        <v-flex xs12 md4>
                          <div class="overline mb-2">ФИО</div>
                          <div>{{ item.LAST_NAME }} {{ item.NAME }}</div>
                        </v-flex>
                        <v-flex xs6 sm4 md2>
                          <div class="overline mb-2">E-mail</div>
                          <div class="text-lowercase">{{ item.EMAIL }}</div>
                        </v-flex>
                        <v-flex xs6 sm4 md2>
                          <div class="overline mb-2">Должность</div>
                          <div>{{ item.WORK_POSITION }}</div>
                        </v-flex>
                        <v-flex xs6 sm4 md2>
                          <div class="overline mb-2">Телефон</div>
                          <div>{{ item.WORK_PHONE }}</div>
                        </v-flex>
                        <v-flex xs6 sm4 md2>
                          <div >
                            <v-chip small :class="`${item.ACTIVE} white--text caption my-2`">{{ item.ACTIVE }}</v-chip>
                          </div>
                        </v-flex>
                      </v-layout>
                    </v-card>
      
                    </v-layout>
                    <v-dialog
                          v-model="dialog"
                          max-width="490"
                        >
                        <v-card>
                          <v-img
                            class="mx-auto"
                            height="100"
                            width="100"
                            src="logo.jpg"
                            >
                          </v-img>
                          
                            <v-layout >
                              <v-flex xs12 md4 class="ma-4 ">
                                <v-avatar
                                v-if='user.PERSONAL_PHOTO'
                                class="profile"
                                color="grey"
                                size="164"
                                >
                                  <img
                                  :src='user.PERSONAL_PHOTO'>
                                </v-avatar>
                              </v-flex>
                              <v-flex xs12 md8>
                                <v-card-text>
                                  <br><b> {{ user.LAST_NAME }} {{ user.NAME }} </b><br>
                                  Электронная почта: {{ user.EMAIL }} <br>
                                  Рабочий телефон: {{ user.WORK_PHONE }} <br>
                                  Внутренний: {{ user.UF_PHONE_INNER }} <br>
                                  Компания: {{ user.WORK_COMPANY }} <br>
                                  <v-card-actions>
                                    <v-spacer></v-spacer>
  
                                    <v-btn
                                      color="grey darken-1"
                                      text
                                      @click="dialog = false"
                                    >
                                      Закрыть
                                    </v-btn>
                                  </v-card-actions>
                                </v-card-text>                                
                              </v-flex>
                              </v-layout>                              
                          </v-card>
                      </v-dialog>
                </v-container>
             <!--   <v-container class="my-5">
                    <v-card class="pa-5 mb-2 test" v-for="(item, i) in result" :key=i @click.stop="get_user_id(item.ID)">
                      <v-layout row wrap>
                        <v-flex xs12 md4>
                          <div class="overline mb-2">Название</div>
                          <div>{{ item.LAST_NAME }} {{ item.NAME }}</div>
                        </v-flex>
                        <v-flex xs6 sm4 md4>
                          <div class="overline mb-2">Автор</div>
                          <div>{{ item.CREATED_USER_NAME }}</div>
                        </v-flex>
                        <v-flex xs6 sm4 md2>
                          <div class="overline mb-2">ID</div>
                          <div>{{ item.ID}}</div>
                        </v-flex>
                        <v-flex xs6 sm4 md2>
                          <div class="overline mb-2">Дата создания</div>
                          <div>{{ item.DATE_CREATE }}</div>
                        </v-flex>
                      </v-layout>
                    </v-card>
              </v-content>
           <!-- <v-card
            class="mx-auto"
            width="750px"
            >
            <v-container >
                <v-row
                  align="center"
                 >
                  <v-col cols="12">
                    <v-col class="mb-2">
                      <h3 class="text-center headline">Заявка на создание сетевого каталога</h3>
                      <span class="blue-grey--text text--darken-1">Данная услуга позволяет создать сетевой каталог (сетевую папку).
                        Название каталога складывается из аббревиатуры организации, далее название департамента, затем название папки. Пример: «AHS-Бухгалтерия-Оперативный учет», где «AHS» – аббревиатура АО Агрохолдинг "СТЕПЬ", «Бухгалтерия» – наименование департамента, «Оперативный учет» - название папки.
                        Также вы сможете отслеживать статус заявки в разделе "Мои заявки".</span>
                        <hr>
                    </v-col>
                    <v-autocomplete
                      :items="org"
                      outlined
                      dense
                      chips
                      small-chips
                      label="Выберите организацию"
                    >
                  </v-autocomplete>
                    <v-text-field 
                      outlined
                      dense
                      label="Название департамента"
                    ></v-text-field>
                    <v-autocomplete
                    :items="info"
                      outlined
                      dense
                      chips
                      small-chips
                      label="Бизнес владелец"
                      :item-text="info => info.LAST_NAME + ' ' + info.NAME"
                      :item-value="info => info.ID"
                    > 
                    </v-autocomplete>
                    <v-autocomplete
                    :items="info"
                      outlined
                      dense
                      chips
                      small-chips
                      label="Укажите пользователей которые могут создавать удалять и редактровать файлы"
                      :item-text="info => info.LAST_NAME + ' ' + info.NAME"
                      :item-value="info => info.ID"
                      multiple
                    > 
                    </v-autocomplete>
                    <v-autocomplete
                    :items="info"
                      outlined
                      dense
                      chips
                      small-chips
                      label="Укажите пользователей которые могут только просматривать файлы"
                      :item-text="info => info.LAST_NAME + ' ' + info.NAME"
                      :item-value="info => info.ID"
                      close
                      deletable-chips
                       multiple
                      >
                      <template v-slot:selection="info">
                        <v-chip
                          v-bind="info.attrs"
                          :input-value="info.selected"
                          close
                          @click="info.select"
                          @click:close="remove(info.item)"
                        >
                         </v-chip>
                      </template>
            </v-autocomplete>
            </v-col>
            </v-row>
            </v-container>
            <v-card-actions>
                <v-btn class="mx-auto" depressed color="success" @click="isUpdating = true">Отправить</v-btn>
            </v-card-actions>
            </v-card>
             



            <!--<v-row>
           <v-card
              class="mx-auto ma-2"
              max-width="400"
              outlined
              tile
              v-for="item in info"
              :key="item.id"
            >

              <v-list-item three-line>
                <v-list-item-content>
                  <div class="overline mb-4">{{ item.WORK_COMPANY }}</div>
                  <v-list-item-title class="headline mb-1">{{ item.LAST_NAME }} {{ item.NAME }}</v-list-item-title>
                  <v-list-item-subtitle>{{ item.WORK_POSITION }}</v-list-item-subtitle>
                </v-list-item-content>
          
                <v-list-item-avatar
                  size="80"
                  color="grey"
                  rounded
                >
               <v-img v-if="item.PERSONAL_PHOTO" :src="item.PERSONAL_PHOTO"></v-img>
                </v-list-item-avatar>
              </v-list-item>
            </v-card>
            </v-row>-->
            </template>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      
        var app = new Vue({
            el: '#items',
            vuetify: new Vuetify(),
            data: {
                categoty_class: 'pl_categories list-group-item-action pl_button',
                item_class: 'pl_categories list-group-item-action',
                message: 'Для получения доступа к сервису или услуге, выберите нужный раздел, а затем услугу, после заполнения необходимых полей формы заявка будет отправлена на согласование отвественных сотрудникам. Статус заявки вы можете отслеживать в разделе',
                path_service: '../../it-uslugi/uslugi/',
                info: [],
                user: [],
                result: [],
                cospaces: [],
                drawer: false,
                dialog: false,
                links: [
                  { icon: 'dashboard', text: 'Dashboard', route: '/'},
                  { icon: 'dashboard', text: 'Заявки', route: '/'},
                  { icon: 'dashboard', text: 'Телефонный справочник', route: '/'},
                ],
                org: ['Управляющая компания', 'test'],
            },
            
            mounted() {
              for (let i = 0, t = 100; i < t; i = i + 50) {
                    axios
                        .get('https://portal.ahstep.ru/rest/1/s7i3kl0o2ydbm29h/user.get.json', {
                            onUploadProgress: function(progressEvent) {},
                            params: {
                                //ACTIVE: "Y",
                                start: i
                            }
                        })
                        .then(response => (this.info = this.info.concat(response.data.result)))
                }
              axios
                .get('/ahstep/request/list/ajax.php')
                  .then(response => (this.cospaces = response.data))
                  .catch((error) => console.log(error))
              /*axios
                .get('https://cms-in.ahstep.ru:445/api/v1/coSpaces/', {
                  auth: {
                    username: 'admin',
                    password: 'LdfFlvbyf'
                  }
                }
                )*/  
                  
                
            },
                        
            methods:{
              get_user_id: function(user_id){
                console.log(user_id);
                for (i = 0; i < this.info.length; i++ ){
                  //console.log(this.info[i].ID);
                  if (this.info[i].ID == user_id){
                    //alert(this.info[i].ID );
                    this.user = this.info[i];
                    //alert (this.user.EMAIL);
                  }
                 }
                this.dialog = true;
              },
              sortBy(prop){
                this.info.sort((a,b) => a[prop] < b[prop] ? -1 : 1)
              }
            }
            
           /* mounted() {
                    axios
                        .get('/ahstep/request/list/ajax.php', {
                            
                        })
                        .then(response => (this.result = response.data))
                        .catch((error) => console.log(error))
                }*/
        });
        //console.log(app.filteredItems);
    </script>
          
</body>
</html>
